{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set channelPricing = null %}
{% if result.price is not empty %}
    {% set channelPricing = result.priceByChannelAndCurrency(channel.code, currencyCode) %}
{% endif %}

<div class="ui fluid card">
    <a href="{{ path(search_result_url_param(result).path, search_result_url_param(result).params) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% if result.image is not empty %}
            {% set path = result.image|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
        {% else %}
            {% set path = '//placehold.it/200x200' %}
        {% endif %}

        <img src="{{ path }}" alt="{{ result.attribute('name').value | join }}" class="ui bordered image" />
    </a>
    <div class="content">
        <a href="#" class="header sylius-product-name">{{ result.attribute('name').value | join }}</a>
    
        {% if channelPricing %}
            {% include '@MonsieurBizSyliusSearchPlugin/Common/_catalog_promotion_labels.html.twig' with {'appliedPromotions': channelPricing.appliedPromotions} %}

            {% set originalChannelPricing = null %}
            {% if result.originalPrice is not empty %}
                {% set originalChannelPricing = result.originalPriceByChannelAndCurrency(channel.code, currencyCode) %}
            {% endif %}
            
            {% if originalChannelPricing and channelPricing.value != originalChannelPricing.value %}
                <div class="sylius-product-original-price" {{ sylius_test_html_attribute('product-original-price') }}>
                    <del>
                        {{ money.convertAndFormat(originalChannelPricing.value) }}
                    </del>
                </div>
            {% endif %}
            <div class="sylius-product-price" {{ sylius_test_html_attribute('product-price') }}>
                {{ money.convertAndFormat(channelPricing.value) }}
            </div>
        {% endif %}
    </div>
</div>
